.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  color:#40514e;
}

h1 {
  margin: 3.125rem auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

.main-p{
  color: #40514e;
  width: 50%;
  margin: auto;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr{
  border-top: 1rem dotted #eaf6f6;
  border-bottom: none;
  width: 5%;
  margin: 4rem auto;
}

.skill-row{
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
  line-height: 2;
}
.row-img1{
  width: 35%;
  float: left;
  margin-right: 1.875rem;
}

.row-img2{
  width: 35%;
  float: right;
  margin-left: 1.875rem;
}

.footer-link{
  color: #11999e;
}

.me{

  border-radius: 50%;

}

a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
margin: 0.625rem;
text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

.contact-me{
  line-height: 2.5;
}
.copyright{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding:1.5625rem 0;
}
.middle-container {
margin: 6.25rem auto;
}
p{
  line-height: 2;
}

.bottom-container {
background-color: #66bfbf;
height: 5rem;
line-height: 2;
padding: 3.125rem 0 3.125em 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.btn{
  background: #66BFBF;
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  text-decoration: none;
  color: white;
  margin: 2rem auto;
}
